<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>yourdomain</title>
  <meta name="description" content="yourdomain">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="yourdomain revproxy">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:description" content="yourdomain revproxy">

</head>

<body>
<h1>revproxy works!!!</h1>
  <script src="js/scripts.js"></script>
</body>
</html>